{% extends '../layout.twig' %}

{% block body %}
    <h1>{{title}}</h1>

    name: {{ doctor.name }}
    <br>
    phone: {{ doctor.phone }}

    <ul>
        {% for visit in visits %}
            <li>
                <a href="/visits/{{ visit.id }}">{{ visit.date|date('Y-m-d H:i:s') }}</a> |
                <a href="/patients/{{ visit.Patient.id }}">{{ visit.Patient.name }}</a> |
                {{ visit.diagnosis }}
            </li>
        {% endfor %}
    </ul>
    <custom-button color="red"></custom-button>
    <custom-button color="brown" func="edit"></custom-button>

    <dialog id="form-add">
        {% include 'visit/form.twig' %}
    </dialog>
    <dialog id="form-edit">
        {% include 'doctor/form.twig' %}
    </dialog>
{% endblock %}
