{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title}}</h1>

  <ul>
    {% for treatment in treatments %}
      <li><a href="/patients/{{ treatment.patient_id }}">{{ treatment.patient|e }}</a> |
          <a href="/doctors/{{ treatment.doctor_id }}">{{ treatment.doctor }}</a> |
          <a href="/treatments/{{ treatment.treatment_id }}">{{ treatment.date }}</a></li>
    {% endfor %}
  </ul>

{% endblock %}
