{% extends '../layout.twig' %}

{% block body %}
    <h1>{{title}}</h1>

    {{ patient.name }}
    <img src="{{ patient.photo }}" alt="">

    <ul>
        {% for visit in visits %}
            <li>
                <a href="/visits/{{ visit.id }}">{{ visit.date|date('Y-m-d H:i:s') }}</a> |
                <a href="/doctors/{{ visit.Doctor.id }}">{{ visit.Doctor.name }}</a>
                {{ visit.diagnosis }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
