{% extends '../layout.twig' %}

{% block body %}
    <h1>{{title}}</h1>

    <ul>
        {% for visit in visits %}
            <li><a href="/visits/{{ visit.visit_id }}">{{ visit.date }}</a> | <a href="/doctors/{{ visit.doctor_id }}">{{ visit.doctor }}</a></li>
        {% endfor %}
    </ul>


    {#<datetime-picker native-on-mobile></datetime-picker>#}
    {#<add-button color="blue"></add-button>#}
{% endblock %}
