{% extends '../layout.twig' %}

{% block body %}
    <h1>{{title}}</h1>

    <ul>
        {% for med in meds %}
            <li><a href="/meds/{{ med.id }}" class="{{ med.is_homeopathy ? 'homeopathy' : '' }}" title="{{ med.dosage_form }}">{{ med.name }}</a></li>
        {% endfor %}
    </ul>

    <custom-button color="blue"></custom-button>

    <dialog id="form-add">
        {% include 'meds/form.twig' %}
    </dialog>

{% endblock %}
