<form action="/visits/{{ visit ? visit.id ~ 'update' : 'create' }}" method="post">
    <div>
        <input type="datetime-local" name="datetime" id="datetime" placeholder="Visit date and time">
    </div>
    <div>
        <input type="text" name="doctor" list="doctors" id="doctor" required placeholder="Doctor" value="{{ doctor.name }}">
    </div>
    <datalist id="doctors">
        {% for doctor in doctors %}
            <option value="{{ doctor.name }}">
        {% endfor %}
    </datalist>
    <div>
        <input type="text" name="patient" list="patients" id="patient" required placeholder="Patient" value="{{ patient.name }}">
    </div>
    <datalist id="patients">
        {% for patient in patients %}
            <option value="{{ patient.name }}">
        {% endfor %}
    </datalist>
    <div>
        <input type="text" name="diagnosis" id="diagnosis" placeholder="Diagnosis" value="{{ visit.diagnosis }}">
    </div>

    <input type="submit" value="{{ visit ? 'UPDATE' : 'CREATE' }}">
</form>