{% extends '../layout.twig' %}

{% block body %}
    <h1>{{ title }}</h1>

    <div>
        <a href="/doctors/{{ visit.DoctorId }}">{{ visit.DoctorId }}</a> visited
        <a href="/patients/{{ visit.PatientId }}">{{ visit.PatientId }}</a>
    </div>
    <div>
        diagnosis: <b>{{ visit.diagnosis }}</b>
    </div>

    <ul>
        {% for med in meds %}
            <li>
                <a class="{{ med.is_homeopathy ? 'homeopathy' : '' }}" href="/meds/{{ med.meds_id }}">
                    {{ med.meds_name }}
                </a> | {{ med.instructions }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
